/*Panel of colors:  #2E3244 night blue
                    #C5C6C6 grey
                    #FFFFFF white
                    #F1895C orange
                    #516079 blue grey

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

/*----------------------------------------------- START RESPONSIVE PARAMETERS FOR PHONE SIZE -----------------------------------------*/
/*When the screen size is too small (example: phone size), 
we change some parameters for a clean display*/
@media screen and (max-width: 800px)
{
  header{
    height: 900px;
  }
  /*--------START OF THE MAIN PAGE --------*/
  /*To keep the first line aligned*/
  .first .language-dropdown {
    padding: 14px 0px;
    margin-left: -10px;
  }
  /*Put the logo in the center of the page*/
  .second .logo{
    margin-left: 70px;
  }
  /*Do not display the title*/
  .second .title{
    display: none;
  }
  /*Do not display the icons*/
  .second .social-network{
    display: none;
  }
  /*Reduce the height of the image so that it is not distorted*/
  header .photo{
    max-height: 170px;
  }
  /*Allow the text to take up the entire width of the page (not including the margins)*/
  header .service-text{
  width: 100%;
  }
  /*Reduce font size for h2 in the footer*/
  .columns .column h2{
    font-size: 15px;
  }
  /*-----------END OF THE MAIN PAGE-------------*/

  /*--------START OF THE BLOG PAGE --------*/
  /*Define the dimensions of the image*/
  header .articles .article .left img{
    max-width: 100%;
    max-height: 80%;
  }
  /*Text placement and size*/
  header .articles .article .right{
    margin-top: -50px;
    min-width: 100%;
  }
  /*-----------END OF THE BLOG PAGE-------------*/
  /*-----------START OF THE LOGIN AND REGISTER PAGE-------------*/
  header .log{
  max-width: 350px;
  max-height: 500px;
  }

  /*Placement of inputs on the page*/
  header .log .inputs{
    margin-left: 5px;
    width: 300px;
  }

  header .Reg{
  max-width: 350px;
  max-height: 700px;
  }

  /*Placement of inputs on the page*/
  header .Reg .inputs{
    margin-left: 5px;
    width: 300px;
  }
  /*-----------END OF THE LOGIN AND REGISTER PAGE-------------*/
  header .rent{
  margin-top: 100px;
}

/*Margin right and left to have the element in the center of the page*/
.main .brands .brand{
  margin-right: 12px;
  margin-left: 12px;
}

/*Size for the image*/
.main .brands .brand img{
  width: 100px;
  height: 80px;
  margin-top: 8px;
}

/*Size for the porsche logo*/
.main .brands .brand .spe{
  width: 90px;
  height: 80px;
  margin-top: 8px;
}

/*Style for the youtube video*/
.main .video iframe{
  max-height: 200px;
}

/*-----------END OF THE BRAND PAGES-------------*/

header .Brands-name{
  padding-bottom: 80px;
}
/*Parameters of the photo*/
header .Brands-name .Brand-name .photo{
  margin-top: 15px;
  margin-left: -10px;
  cursor: pointer;
}
header .Brands-name .Brand-name .photo .name{
    font-size: 12px;
  }

/*Image sizing*/
section .Brands-name .Brand-name .photo img{
  width: 300px;
  height: 150px;
}

/*Parameters for the youtube video*/
.Brands-name .video iframe{
  max-height: 200px;
}

/*We don't want the slider anymore, only an image */
  header .slider-container .menu {
      display: none;
  }

  /*We adjust the size of the image*/
  header .slider-container img{
      max-width: 300px;
      max-height: 17500px;
  }
  /*We adjust the margins so that the text takes the whole width*/
  header .info-car .text-car p{
    margin-top: 150px;
    margin-left: -150px;
    margin-right: -150px;
  }
  /*We reduce the size of the text*/
  header .info-car .carac-car{
    font-size: 12px;
  }
  /*Adjusting the size of the video*/
  header .info-car .video iframe{
    max-width: 300px;
    max-height: 150px;
  }



  /*MY ACCOUNT */
header .log .infos .account{
  margin: 0px;
}

header .log .infos .account th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;

}

header .log .infos .account td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 12px;
}

/*Text title style*/
header .log .logoff{
  color: #F1895C;
  font-family: 'Popins;', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/*Button style*/
header .log .create{
  margin-top: 50px;
}

}

/*----------------------------------------------- END RESPONSIVE PARAMETERS FOR PHONE SIZE -----------------------------------------*/


/*----------------------------------------------- START CSS FOR THE WEBSITE --------------------------------------------------------*/

/*---------------------- Start of the Main page --------------------*/

section .first{
  background-color: #516079; /*to change the color of the background of the page*/
  padding: 0px 50px; /*to add a margin on each side of the page*/
  display: flex; /*to align the elements on the same line */
  justify-content: space-between; /*to spread the elements on each side of the page */
  flex-wrap: wrap; /*to put the element on the next line if the page is too small*/
  font-size: 14px; /*to change the size of the font*/
}

section .language-dropdown {
  background-color: #516079;
  color: #FFFFFF;
  padding: 16px;
  font-size: 14px;
  border: none; /*Removes the border created by the button*/
  font-family: 'Noto Sans Mono', monospace; /*change font*/
}

section .choice-language {
  display: none; /*Keeps hidden the text we don't want to display*/
  position: absolute; /*Display the new text on top of the rest of the page*/
  background-color: #FFFFFF;
}

section .choice-language a {
  color: #2E3244;
  padding: 14px 16px;
  text-decoration: none; /*Delete the link line*/
  display: block; /*Displays in blocks one below the other*/
  font-size: 14px;
  font-family: 'Noto Sans Mono', monospace;
}

/*Change the text color of the link when the mouse is hover the button*/
section .choice-language a:hover{color: #F1895C;}

/*Displays the drop-down menu in block when the mouse is hover the button*/
section .language:hover .choice-language {display: inline-block;}

/*Change the text color of the button when the mouse is hover the button*/
section .language:hover .language-dropdown {color: #F1895C;}

/*General parameters of the button*/
section .nav-buttons button{
  padding: 14px 18px;
  border: none;
  background-color: #516079;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Noto Sans Mono', monospace;
}

/*Change the text color when the mouse is hover the text*/
section .nav-buttons button:hover{
  color: #F1895C;
}

/*General parameters of the second nav line*/
section .second{
  background-color: #2E3244;
  padding: 0px 50px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Margin and size of logos*/
section .logo{
  margin: 20px 0px;
  width: 150px;
  height: 50px;
}

/*Font and margin of the title*/
section .second .title{
  margin-top: 30px;
  text-align: center;
  font-size: 27px;
  font-family: 'Peralta', cursive;
}


/*General aspect of the nav bar*/
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

/*Button wich allow to have the transition of the nav bar*/
.btn{
  position: absolute;
  top: 145px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #2E3244;
  cursor: pointer;
  transition: left 1s ease;
}

/*When the user click on the button, 
the button goes to 230px on the right*/
.btn.click{
  left: 230px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}

/*Navbar style*/
.sidebar{
  position: absolute;
  width: 230px;
  height: 92%;
  left: -250px; /*when the button is not click*/
  background: #2E3244;
  transition: left 1s ease; /*navbar transition*/
}

/*Show the Navbar on the left side*/
.sidebar.show{
  left: 0px;
}

/*Style of the Navbar text*/
.sidebar .text{
  color: white;
  font-size: 23px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #2E3244;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

/*Nav bar list*/
.sidebar ul{
  background: #2E3244;
  height: 100%;
  width: 100%;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
.sidebar ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.sidebar ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sidebar ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

.sidebar ul li.active a{
  color: #F1895C;
  border-left-color: #F1895C;
}

.sidebar ul li a:hover{
  background: #000000;
}
.sidebar ul li p{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

.sidebar ul li a #home{
  margin-left: 101px;
}

.sidebar ul li a #account{
  margin-left: 57px;
}

.sidebar ul li a #blog{
  margin-left: 115px;
}

.sidebar ul li a #contact{
  margin-left: 82px;
}

.sidebar ul li a #reservation{
  margin-left: 35px;
}

.sidebar ul li #active{
  color: #F1895C;
  border-left-color: #F1895C;
}
.sidebar ul li p:hover{
  background: #000000;
}
.sidebar ul ul{
  position: static;
  display: none;
}
.sidebar ul .feat-show.show{
  display: block;
}
.sidebar ul .serv-show.show1{
  display: block;
}
.sidebar ul ul li{
  line-height: 42px;
  border-top: none;
}
.sidebar ul ul li a{
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 80px;
}

.sidebar ul li ul li .active{
  color: #F1895C;
  border-left-color: #F1895C;
}

.sidebar ul li ul li .other{
  color: #FFFFFF;
  background: #2E3244;
  border-left-color: transparent;
}

.sidebar ul ul li a:hover{
  color: #F1895C!important;
  background: #000000!important;
}
.sidebar ul li p span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  transition: transform 0.4s;
}
/*End of Navbar list*/

/*Make the title more beautiful with <span>*/
section .title .blue{
  color: #0000FF;
}
section .title .white{
  color: #FFFFFF;
}
section .title .red{
  color: #FF0000;
}

/*General parameters for the logo of social network*/
section .social-network{
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Margin and size of the logos*/
section .social-logo{
  margin-top: 25px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

header{
  background-color: #516079;
  padding: 30px 50px;
  display: flex;
  flex-direction: column; /*Allows to establish the main axis of the elements*/
  justify-content: center; /*center the elements in the middle of the page*/
  align-items: center; /*align all the elements in the middle of the page*/
  min-height: 750px;
}

/*Size of the photo*/
header .photo{
  margin-top: 20px;
  max-width: 70%;
  height: 350px;
}

/*Parameters for the title on the different pages*/
header .title{
  text-align: center; /*algign the text in the middle of the page*/
  color: #2E3244;
  font-family: 'Peralta', cursive;
  font-size: 23px;
  font-weight: bold; /*bold font*/
  margin-bottom: 20px;
}

/*Parameters for the service text*/
header .service-text{
  text-align: center;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0px 185px;
}
/*--- End of the header page ---*/


/*--- Start of the footer ---*/
footer{
  background-color: #2E3244;
  padding: 10px 50px;
  color: #C5C6C6;
  font-family: 'Poppins', sans-serif;
  min-height: 160px;
}

/*We place the elements in columns*/
footer .columns{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

/*General style of the footer button*/
footer .columns button{
  background-color: inherit;
  cursor: pointer;
  border: none;
  color: #C5C6C6;
  margin-top: 10px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

/*When we are hover the button*/
.columns button:hover{
  color: #F1895C;
}

footer .id{
  background-color: #inherit;
  float: right;

}
/*--- End of the footer ---*/

/*---------------------- End of the MAIN page --------------------*/

/*----------------------- START FR PAGE ---------------------------*/

/*General parameter for the page*/
header .page{
  min-width: 600px;
}

/*Style for text*/
header .page .Problem{
  padding-top: 11px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

/*Style for text*/
header .page .Appologized{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-bottom: 11px;
  color: #FFFFFF;
}

/*----------------------- END FR PAGE ---------------------------*/

/*----------------------- START COOKIES PAGE ---------------------------*/

/*General parameter for the page*/
header .page{
  min-width: 600px;
}

/*Style for text*/
header .page .Problem{
  padding-top: 11px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

/*Style for text*/
header .page .Appologized{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-bottom: 11px;
  color: #FFFFFF;
}

/*----------------------- END COOKIES PAGE ---------------------------*/

/*---------------------- Start of the LOGIN page --------------------*/

/*Style of the header for the login page*/
header .log{
  justify-content: center;
  align-items: center;
  background-color: #2E3244;
  width: 500px;
  height: 500px;
  margin: 20px 400px;
  padding: 20px;
}

/*Text style for the form login*/
form .login{
  color: #F1895C;
  text-align: center;
  font-family: 'Peralta', cursive;
  font-size: 30px;
}

header .log .social-network{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Size for the logo*/
header .log .social-logo{
  padding: 0px 20px;
  width: 100px;
  height: 50px;
}

/*Text style*/
form p.email{
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

form p.email span{
  color: #F1895C;
}

/*Inputs general place in the page*/
form .inputs{
  display: flex;
  flex-direction: column;
}

/*Inputs style*/
form .inputs input[type="email"], input[type="password"]{
padding: 15px;
border-radius: 10px;
border: none;
background-color: #FFFFFF;
margin-bottom: 20px;
outline: none;
font-size: 15px;
font-family: 'Poppins', sans-serif;
}

/*Text style*/
form p.Register{
  margin-top: -5px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  text-align: center;
}

form p.Register span a{
  color: #F1895C;
}

/*Button style*/
form .connection{
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: #2E3244;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #F1895C;
  cursor: pointer;
  outline: none;
}

/*---------------------- End of the LOGIN page --------------------*/

/*---------------------- Start of the REGISTER page --------------------*/

/*General style for the register page*/
header .Reg{
  justify-content: center;
  align-items: center;
  background-color: #2E3244;
  width: 500px;
  height: 700px;
  margin: 50px 400px;
  padding: 20px;
}

/*Space between the title and the text*/
header .Register{
  padding-bottom: 20px;
}

/*Text style*/
header .Reg .Register{
  color: #F1895C;
  text-align: center;
  font-family: 'Peralta', cursive;
  font-size: 30px;
}

/*Text style*/
header .Reg .info{
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

/*Inputs general place in the page*/
header .Reg #inputs{
  display: flex;
  flex-direction: column;
}

/*Inputs style*/
header .Reg #inputs input[id="surname"], input[id="firstname"], input[id="email"], input[id="mobile"], input[id="password"]{
padding: 15px;
border-radius: 10px;
border: none;
background-color: #FFFFFF;
margin-bottom: 20px;
outline: none;
font-size: 15px;
font-family: 'Poppins', sans-serif;
display: flex;
}

/*Label text style*/
header .Reg #inputs label{
  flex-wrap: wrap;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-align: center;
}

/*Text syle*/
header .Reg .Account{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  color: #FFFFFF;
  text-align: center;
}

header .Reg span a{
  color: #F1895C; 
}

/*Button style*/
header .Reg .create{
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: #2E3244;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #F1895C;
  cursor: pointer;
  color: #2E3244;
}

/*Button style*/
header .Reg .account{
  margin-top: 50px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: #2E3244;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #F1895C;
  cursor: pointer;
}

/*Text link style*/
header .Reg .account a{
  color: #2E3244;
  text-decoration: none;
}

/*Text style*/
header .Reg #h1{
  color: #F1895C;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

/*---------------------- End of the REGISTER page --------------------*/

/*---------------------- Start of the BRANDS page --------------------*/

/*General style of the page*/
.main{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Parameters for the brands section*/
section .brands{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Margin right and left to have the element in the center of the page*/
section .brands .brand{
  margin-right: 100px;
  margin-left: 100px;
}

/*Size for the image*/
section .brands .brand img{
  width: 200px;
  height: 160px;
  margin-top: 20px;
}

/*Size for the porsche logo*/
section .brands .brand .spe{
  width: 175px;
  height: 160px;
  margin-top: 20px;
}

/*Parameters for the video*/
.main .video{
  margin-top: 50px;
  width: 90%;
}

/*Style for the youtube video*/
.main .video iframe{
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 500px;
}
/*---------------------- End of the BRANDS page --------------------*/

/*---------------------- Start of the BLOG page --------------------*/

/*Header style at the top of the page*/
header .articles{
  margin-top: 30px;
}

/*General parameters for the article*/
header .articles .article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

/*Image size on the left side of the page*/
header .articles .article .left img{
  height: 300px;
  width: 600px;
}

/*Text parameters on the right side of the page*/
header .articles .article .right{
  max-width: 40%;
  margin-left: 40px;
  text-align: justify;
  color: #FFFFFF;
}

/*---------------------- End of the BLOG page --------------------*/

/*---------------------- Start of the CONTACT page --------------------*/

/*Size parameters of the page*/
header .page{
  min-height: 600px;
}

/*Text style for the title*/
header .page .title-contact{
  margin-top: 150px;
  color: #F1895C;
  text-align: center;
  font-family: 'Peralta', cursive;
  font-size: 30px;
}

/*Text style*/
header .page .openning{
  margin-top: 10px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Popins;', sans-serif;
  font-size: 18px;
}

/*General style for the info text*/
header .page .infos{
  margin-top: ;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Popins;', sans-serif;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Parameters for the info part */
header .page .infos .info{
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
  text-align: center;
}

/*Text style for the link*/
header .page .infos .info a{
  color: #F1895C;
  text-decoration: none;
}

/*---------------------- End of the CONTACT page --------------------*/

/*---------------------- Start of the all Brands page --------------------*/

/*Text style*/
header .rent{
  text-align: center;
  color: #FFFFFF;
  font-size: 35px;
  font-family: 'Peralta', cursive;
}

header .rent span{
  color: #F1895C;
}

/*General parameters of the brands page*/
.Brands-name{
  margin: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Parameters for the photo section*/
section .Brand-name{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Parameters of the photo*/
section .Brand-name .photo{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

/*Image sizing*/
section .Brand-name .photo img{
  width: 350px;
  height: 225px;
}

/*Text parameters*/
section .Brand-name .photo .name{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #FFFFFF;
}

/*Parameters of the video size*/
.Brands-name .video{
  margin-top: 50px;
  width: 90%;
}

/*Parameters for the youtube video*/
.Brands-name .video iframe{
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 500px;
}
/*---------------------- End of the all Brands page --------------------*/


/*---------------------- Start Technical Car page ----------------------------*/

/*Start of second side bar parameters and style (on the right side)*/
.btn2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  position: absolute;
  right: 0px;
  top: 145px;
  height: 45px;
  width: 170px;
  text-align: center;
  background: #2E3244;
  cursor: pointer;
  transition: left 0.4s ease;
}

/*Change the color with span*/
.btn2 span:hover{
  color: #F1895C ;
}

/*Move the button on the*/
.btn2.click{
  right: 240px;
}
.btn2 span{
  color: white;
  font-size: 23px;
  line-height: 45px;
}
/*Do not display the sidebar in normal time*/
.sidebar2{
  display: none;
}

.sidebar2.show{
  margin-top: -1182px;
  display: initial;
  position: absolute;
  width: 240px;
  height: 120px;
  right: 0px;
  background: #2E3244;
}

.sidebar2 ul{
  font-family: 'Poppins', sans-serif;
  background: #2E3244;
  height: 100%;
  width: 100%;
  list-style: none;
}

.sidebar2 ul li{
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}


.sidebar2 ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

.sidebar2 ul li a:hover{
  background: #000000;
}

.sidebar2 ul li a #rent{
  margin-left: 100px;
}

.sidebar2 ul li a #quote{
  margin-left: 90px;
}


/*Do not display the sidebar in normal time*/
.sidebar3{
  display: none;
}

.sidebar3.show{
  margin-top: -1225px;
  display: initial;
  position: absolute;
  width: 240px;
  height: 120px;
  right: 0px;
  background: #2E3244;
}

.sidebar3 ul{
  font-family: 'Poppins', sans-serif;
  background: #2E3244;
  height: 100%;
  width: 100%;
  list-style: none;
}

.sidebar3 ul li{
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}


.sidebar3 ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

.sidebar3 ul li a:hover{
  background: #000000;
}

.sidebar3 ul li a #rent{
  margin-left: 100px;
}

.sidebar3 ul li a #quote{
  margin-left: 90px;
}

/*End of second side bar parameters and style*/

/*Text style*/
header .name-car{
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Peralta', cursive;
}

/*Slider in CSS for car photo*/
header .slider-container {
    width: 500px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}

header .slider-container .menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}

header .slider-container .menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

header .slider-container .menu label:hover,.menu label:focus {
    background: #2E3244;
}

header .slider-container .slide-input{
    opacity: 0;
}

header .slider-container .slide-img {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}
/*End of the slider*/

/*Parameter for the text*/
header .info-car{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/*Style for the text*/
header .info-car .text-car{
  flex-wrap: wrap;
  margin-left: 250px;
  margin-right: 250px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Popins;', sans-serif;
  font-size: 18px;
}

/*Table parameters*/
header .info-car .carac-car{
  padding-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px solid;
  border-collapse: collapse;
  color: #FFFFFF;
}

header .info-car .carac-car td, header .info-car .carac-car th {
  border: 2px solid;
  border-collapse: collapse;
  padding: 8px;
}

header .info-car .carac-car tr:nth-child(even){background-color: #2E3244;}

header .info-car .carac-car th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

header .info-car .carac-car th:nth-child(even){background-color: #2E3244;}

header .info-car caption{
  color: #2E3244;
  font-family: 'Popins;', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

header .info-car .price-car{
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid;
  border-collapse: collapse;
  color: #FFFFFF;
}

header  .info-car .price-car td, header .info-car .price-car th {
  border: 2px solid;
  border-collapse: collapse;
  padding: 8px;
}

header .info-car .price-car tr:nth-child(even){background-color: #2E3244;}

header  .info-car .price-car th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

header .info-car .price-car th:nth-child(even){background-color: #2E3244;}
/*End of table parameters*/

/*Parameters for the video*/
header .info-car .video{
  margin-top: 50px;
  width: 70%;
}

/*Parameters for youtube*/
header .info-car .video iframe{
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 500px;
}

/*---------------------- End Technical Car page ----------------------------*/

/*---------------------- START MY ACCOUNT PAGE ------------------------------*/

/*Minimum size for the page*/
header .log{
  min-height: 600px;
}

header .log .account{
  margin: 60px;
  border: 2px solid;
  border-collapse: collapse;
}

/*Table parameters*/
header .log .account td, header .log .account th {
  border: 2px solid;
  border-collapse: collapse;
  padding: 8px;
}

header .log .account tr:nth-child(even){background-color: #516079;}

header .log .account th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

header .log .account td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 13px;
}
/*End of table parameters*/

/*Text title style*/
header .log .account .table-title{
  color: #F1895C;
  font-family: 'Popins;', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*Text title style*/
header .log .logoff{
  color: #F1895C;
  font-family: 'Popins;', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/*Button style*/
header .log .create{
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: #2E3244;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #F1895C;
  cursor: pointer;
  color: #2E3244;
}

/*---------------------- END MY ACCOUNT PAGE ------------------------------*/

/*---------------------- START RENT PAGE ------------------------------*/

/*Inputs general place in the page*/
header .rentReg {
  justify-content: center;
  align-items: center;
  background-color: #2E3244;
  width: 600px;
  height: 950px;
  margin: 50px 400px;
  padding: 20px;
}


/*Text style*/
header .rentReg .Register{
  color: #F1895C;
  text-align: center;
  font-family: 'Peralta', cursive;
  font-size: 30px;
}


header .rentReg input[id="surnameRent"], input[id="firstnameRent"], input[id="emailRent"], input[id="mobileRent"], input[id="commentRent"], input[id="dateDepartureRent"], input[id="dateReturnRent"]{
padding: 15px;
border-radius: 10px;
border: none;
background-color: #FFFFFF;
margin-bottom: 20px;
outline: none;
font-size: 15px;
font-family: 'Poppins', sans-serif;
display: flex;
width: 100%;
}

header .rentReg select[id="cityDepartureRent"], select[id="cityReturnRent"], select[id="carRent"]{
padding: 15px;
border-radius: 10px;
border: none;
background-color: #FFFFFF;
margin-bottom: 20px;
outline: none;
font-size: 15px;
font-family: 'Poppins', sans-serif;
display: flex;
width: 100%;
}

/*Label text style*/
header .rentReg label{
  flex-wrap: wrap;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  text-align: center;
}



/*Button style*/
header .rentReg .create{
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: #2E3244;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #F1895C;
  cursor: pointer;
  color: #2E3244;
}

/*Button style*/
header .rentReg .account{
  margin-top: 50px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: #2E3244;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #F1895C;
  cursor: pointer;
}

/*Text link style*/
header .rentReg .account a{
  color: #2E3244;
  text-decoration: none;
}

/*Text style*/
header .rentReg #h1{
  color: #F1895C;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}
/*---------------------- END RENT PAGE ------------------------------*/

/*---------------------- START MY RESERVATION PAGE ------------------------------*/

/*Minimum size for the page*/
header .log{
  min-height: 950px;
}

header .log .reservation{
  margin: 60px;
  border: 2px solid;
  border-collapse: collapse;
}

/*Table parameters*/
header .log .reservation td, header .log .reservation th {
  border: 2px solid;
  border-collapse: collapse;
  padding: 8px;
}

header .log .reservation tr:nth-child(even){background-color: #516079;}

header .log .reservation th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

header .log .reservation td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 13px;
}
/*End of table parameters*/

/*Text title style*/
header .log .reservation .table-title{
  color: #F1895C;
  font-family: 'Popins;', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*Text title style*/
header .log .logoff{
  color: #F1895C;
  font-family: 'Popins;', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/*Button style*/
header .log .create{
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: #2E3244;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #F1895C;
  cursor: pointer;
  color: #2E3244;
}

/*---------------------- END MY RESERVATION PAGE ------------------------------*/